In [1]:
%matplotlib inline

import pandas as pd

In [2]:
import problem

In [3]:
data_train, y_train = problem.get_train_data()

In [4]:
data_train.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,...,Range F 8,Range F 9,V,Vth,Vx,Vy,Vz,Beta,Pdyn,RmsBob
1997-10-01 00:00:00,6.584763,3.753262,2.303108,0.966140,2.602693,-5.179685,2.668414,2.290824,23.045732,24.352797,...,2.757919e+09,2.472087e+09,378.313934,80.613098,-351.598389,-138.521454,6.956387,7.641340,5.487331e-15,0.668473
1997-10-01 00:10:00,6.036456,0.693559,1.810752,-0.904843,2.165570,-1.944006,2.372931,2.119593,23.000492,20.993362,...,3.365612e+09,3.087122e+09,350.421021,69.919327,-331.012146,-110.970787,-21.269474,9.149856,4.783776e-15,0.753848
1997-10-01 00:20:00,5.653682,-4.684786,0.893058,-2.668830,0.768677,1.479302,1.069266,2.876815,20.676191,17.496399,...,1.675611e+09,1.558640e+09,328.324493,92.194435,-306.114899,-117.035202,-13.018987,11.924199,3.719768e-15,0.282667
1997-10-01 00:30:00,5.461768,-4.672382,1.081638,-2.425630,0.765681,1.203713,0.934445,2.851195,20.730188,16.747108,...,1.589037e+09,1.439569e+09,319.436859,94.230705,-298.460938,-110.403969,-20.350492,16.032987,3.525211e-15,0.304713
1997-10-01 00:40:00,6.177846,-5.230110,1.046126,-2.872561,0.635256,1.505010,0.850657,3.317076,20.675701,17.524536,...,1.812308e+09,1.529260e+09,327.545929,89.292595,-307.303070,-111.865845,-12.313167,10.253789,3.694283e-15,0.244203

In [5]:
y_train.head()

1997-10-01 00:00:00    0
1997-10-01 00:10:00    0
1997-10-01 00:20:00    0
1997-10-01 00:30:00    0
1997-10-01 00:40:00    0
Name: label, dtype: int64

In [6]:
data_test, y_test = problem.get_test_data()

In [7]:
data_test.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,...,Range F 8,Range F 9,V,Vth,Vx,Vy,Vz,Beta,Pdyn,RmsBob
2008-01-01 00:00:00,4.191322,-3.683284,0.174691,1.798880,0.273878,-0.362722,0.428125,0.132609,6.028121,4.624486,...,9.860334e+08,1.558658e+09,346.071014,36.012177,-345.823730,2.977509,-6.587379,0.934875,1.208364e-15,0.129070
2008-01-01 00:10:00,4.257490,-2.976951,0.144501,2.953034,0.125648,0.410667,0.274116,0.123604,6.149254,5.863568,...,1.126279e+09,1.762056e+09,348.415741,34.976662,-348.193298,-5.476861,-10.663119,0.872927,1.248913e-15,0.079137
2008-01-01 00:20:00,4.190869,-3.058623,0.286867,2.442341,0.311452,-0.292565,0.326747,0.101965,6.070359,5.217190,...,1.144053e+09,1.718165e+09,348.164673,34.677750,-347.992798,-1.428905,-8.036335,0.879172,1.231391e-15,0.132966
2008-01-01 00:30:00,4.261395,-1.951039,0.148014,3.703976,0.095857,-0.347672,0.228227,0.079186,6.000411,5.828165,...,1.098246e+09,1.878379e+09,356.162506,32.947617,-355.946167,-10.620467,-5.134477,0.764977,1.272731e-15,0.069234
2008-01-01 00:40:00,4.267907,-1.729106,0.101710,3.840123,0.068386,0.392823,0.159227,0.073780,5.841330,5.708538,...,1.202470e+09,1.859657e+09,357.871826,31.242083,-357.522736,-9.289846,-12.252926,0.657990,1.251328e-15,0.047655

### Feature extraction

In [7]:
import sys
sys.path.insert(0, './submissions/starting_kit/')

In [8]:
from ts_feature_extractor import FeatureExtractor

In [9]:
fe = FeatureExtractor()

In [11]:
X_train_t = fe.transform(data_train)

In [12]:
X_train_t.head()

,B,Bx,Bx_rms,By,By_rms,Bz,Bz_rms,Na_nl,Np,Np_nl,V,Vth,Vx,Vy,Vz,Beta,Beta_15min_std,Beta_2h_std
1995-01-01 00:00:14.964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.815715,NaN,315.138702,17.227602,-313.672272,-2.423905,30.269287,NaN,NaN,NaN
1995-01-01 00:02:13.075,4.338361,-0.615896,0.056815,3.758377,0.192089,-2.065511,0.103446,0.251492,15.815723,15.460986,315.137878,17.227423,-313.671448,-2.423704,30.269554,0.524187,NaN,NaN
1995-01-01 00:03:39.437,4.305846,-0.603615,0.043675,3.807391,0.047699,-1.917868,0.055348,0.249336,16.356546,15.809944,315.357605,17.241146,-313.916290,-2.127821,30.040876,0.551207,0.019106,0.019106
1995-01-01 00:06:22.964,4.349607,-0.810253,0.063657,3.884482,0.090541,-1.776413,0.085155,0.266075,16.335524,15.783771,314.416077,16.872213,-312.964386,-3.343558,29.978380,0.516636,0.018176,0.018176
1995-01-01 00:07:58.523,4.472741,-0.825270,0.130879,4.006791,0.054614,-1.805417,0.076011,0.271679,16.323238,15.685715,313.865875,16.656624,-312.408112,-4.053989,29.941858,0.475818,0.031187,0.031187

In [13]:
X_train_t.fillna(X_train_t.median(), inplace=True)

### Trying model

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
model = RandomForestClassifier(n_jobs=-1)

In [21]:
model.fit(X_train_t, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [22]:
model.score(X_train_t, y_train)

0.99909845019120402

In [23]:
y_pred = model.predict(X_train_t)

In [26]:
print(classification_report(y_train, y_pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00   5208976
          1       1.00      0.97      0.98     56921
          2       1.00      0.98      0.99    195809

avg / total       1.00      1.00      1.00   5461706

In [27]:
print(confusion_matrix(y_train, y_pred))

[[5208968       5       3]
 [   1920   54996       5]
 [   2984       7  192818]]

On test data:

In [17]:
X_test_t = fe.transform(data_test)

In [18]:
X_test_t.fillna(X_test_t.median(), inplace=True)

In [33]:
y_pred_test = model.predict(X_test_t)

In [34]:
print(confusion_matrix(y_test, y_pred_test))

[[1652309    1022   13281]
 [  22376     655     235]
 [  57005     279   17967]]

In [35]:
print(classification_report(y_test, y_pred_test))

             precision    recall  f1-score   support

          0       0.95      0.99      0.97   1666612
          1       0.33      0.03      0.05     23266
          2       0.57      0.24      0.34     75251

avg / total       0.93      0.95      0.93   1765129

Trying a balancing technique:

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
from imblearn.ensemble import BalancedBaggingClassifier

In [40]:
bbc = BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(max_features='auto'),
                                ratio='auto',
                                replacement=False,
                                random_state=0)

In [41]:
bbc.fit(X_train_t, y_train)

BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
             bootstrap=True, bootstrap_features=False, max_features=1.0,
             max_samples=1.0, n_estimators=10, n_jobs=1, oob_score=False,
             random_state=0, ratio='auto', replacement=False, verbose=0,
             warm_start=False)

In [42]:
y_pred_bcc = bbc.predict(X_train_t)

In [43]:
print(classification_report(y_train, y_pred_bcc))

             precision    recall  f1-score   support

          0       1.00      0.91      0.95   5208976
          1       0.24      1.00      0.39     56921
          2       0.41      0.96      0.58    195809

avg / total       0.97      0.92      0.94   5461706

In [44]:
print(confusion_matrix(y_train, y_pred_bcc))

[[4761593  178247  269136]
 [    133   56777      11]
 [   5467    1710  188632]]

In [45]:
y_pred_bbc_test = bbc.predict(X_test_t)

In [46]:
print(confusion_matrix(y_test, y_pred_bbc_test))

[[1477303   62576  126733]
 [  11110    9525    2631]
 [  22960    3026   49265]]

In [47]:
print(classification_report(y_test, y_pred_bbc_test))

             precision    recall  f1-score   support

          0       0.98      0.89      0.93   1666612
          1       0.13      0.41      0.19     23266
          2       0.28      0.65      0.39     75251

avg / total       0.94      0.87      0.90   1765129

The above could do

In [21]:
from collections import Counter

In [24]:
def determine_ratio(y):
    target_stats = Counter(y)
    max_ = max(target_stats.values())
    ratio = min(target_stats.values()) / max(target_stats.values()) * 5
    
    return {key: int(value * ratio)
            for key, value in target_stats.items() if value == max_}

In [26]:
Counter(y_train)

Counter({0: 5208976, 1: 56921, 2: 195809})

In [25]:
determine_ratio(y_train)

{0: 284605}

In [27]:
bbc2 = BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(max_features='auto'),
                                 ratio=determine_ratio, random_state=0)

In [28]:
bbc2.fit(X_train_t, y_train)

BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
             bootstrap=True, bootstrap_features=False, max_features=1.0,
             max_samples=1.0, n_estimators=10, n_jobs=1, oob_score=False,
             random_state=0,
             ratio=<function determine_ratio at 0x7f5122eefae8>,
             replacement=False, verbose=0, warm_start=False)

In [29]:
y_pred_bcc = bbc2.predict(X_train_t)

In [30]:
print(classification_report(y_train, y_pred_bcc))

             precision    recall  f1-score   support

          0       1.00      0.98      0.99   5208976
          1       0.70      0.99      0.82     56921
          2       0.74      1.00      0.85    195809

avg / total       0.99      0.98      0.98   5461706

In [31]:
print(confusion_matrix(y_train, y_pred_bcc))

[[5116980   24393   67603]
 [    423   56486      12]
 [    692      34  195083]]

In [33]:
y_pred_bbc_test = bbc2.predict(X_test_t)

In [34]:
print(confusion_matrix(y_test, y_pred_bbc_test))

[[1590599   12546   63467]
 [  17221    4397    1648]
 [  37136    1393   36722]]

In [46]:
print(confusion_matrix(y_test, y_pred_bbc_test))

[[1477303   62576  126733]
 [  11110    9525    2631]
 [  22960    3026   49265]]

In [35]:
print(classification_report(y_test, y_pred_bbc_test))

             precision    recall  f1-score   support

          0       0.97      0.95      0.96   1666612
          1       0.24      0.19      0.21     23266
          2       0.36      0.49      0.41     75251

avg / total       0.93      0.92      0.93   1765129

So the precision is a bit better, but the recall worse

### Cross-validation

For now we can use the `KFold` cross-validation method of sklearn:

In [48]:
from sklearn.model_selection import KFold

In [53]:
cv = KFold(n_splits=10)